</body>
<footer>Copyright 2024 AKD<br>
    <a href="http://localhost:3000">Click to go to coding</a><br>
    <a href="http://localhost:3000/movies">Click to go to movies</a><br>
    <a href="http://localhost:3000/about">Click to see about</a>

</footer>
</html>